* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
:root {
    --main-color: #fd4646;
    --sec-color: #46fdf1ae;
    --text-color: #171427;
    --bg-color: #fff;
}

body {
    background: linear-gradient(#111, #222);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

body::after {
    content: " ";
    width: 100%;
    height: 100%;
    background: rgb(4, 20, 87);
    position: absolute;
    z-index: -1;
    clip-path: circle(40% at right 70%);
}

.navigation {
    width: 100%;
    max-width: 1200px;
    height: 80%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 20px 0;
}

nav .logo {
    color: var(--sec-color);
    text-decoration: none;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}

.logo span {
    color: var(--main-color);
    font-weight: 700;
}


nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 6px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

nav ul li a:hover {
    color: #e80202;
}

nav ul li button {
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

nav ul li button a {
    color: inherit;
    text-decoration: none;
}

nav ul li button:hover a {
    color: #e80202;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: auto;
}

.content .text {
    color: #fff;
    width: 45%;
    text-align: center;
}

.content .text h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.content .text p {
    font-size: 18px;
    line-height: 25px;
    margin: 10px 0;
    letter-spacing: 1px;
}

.content .image {
    width: 45%;
    text-align: center;
}

.content .image img {
    width: 100%;
    max-width: 400px;
}

